@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

*{
    margin: 0;
    padding: 0;
}

.container{
    max-width: 80vw;
    font-family: 'Heebo', sans-serif;
}

.navbar{
    display: flex;
    height: 67px;
}
.navbar li{
    list-style: none;
    margin: 0 12px;
}

.topleft{
    width: 50%;
}

.topright{ 
    width: 50%;
}


.deakin1{
    position: relative;
    max-width: 100%;
    padding-left: 0px;
    height: auto;
    display:inline;
    color:aliceblue
}


.deakin1 img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}
.deakin1 .my_name{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(67, 81, 101);
    opacity: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: x-large;
    
}

.deakin1 img:hover + .my_name{
    opacity: 1;
}

.section2{
    text-align: center;
    border-radius: 60px;
}

.profile img {
    width: 150px;
    height: 150px;
    align-items: center;
    border-radius: 50%;
}

.info{
    font-size: x-large;
    color:rgb(7, 81, 76)
}

.achieve{
    font-size:x-large ;
    text-align: center;
    color:rgb(7, 81, 76)
}


#project1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project {
    flex: 1;
    max-width: 400px;
    margin: 20px;
    text-align: center;
    padding: 20px;
    border-radius: 5%;
    background-color: #c8e0f8;
    transition: transform 0.3s ease;
}

.project img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project h2 {
    margin-top: 20px;
    font-size: 24px;
    color: #3492d0;
}

.project p {
    font-size: 16px;
}

.project:hover {
    transform: translateY(-5px);
}

#photos {
    text-align: center;
    padding: 40px 0;
    background-color: #ffffff;
    background-image: url(back2.jpeg);
    border-radius: 5%;
}

.photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    background-image: url(back2.jpeg);
    border-radius: 5%;
}

.photos img {
    width: 200px;
    height: auto;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

#contact {
    text-align: center;
    padding: 30px 0;
    background-image: url(back2.jpeg);
    border-radius: 5%;

}

.contact-details {
    padding: 10px;
    color: #005f9e;
    background-color: #b4b4b4;
    border-radius: 5%;

}